* {
    margin: 5px;
    /*did modify it (supposed to be 0)*/
    padding: 0;
    box-sizing: border-box;
}

/*Class selector*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #525151;
    color: aliceblue;
}

main {
    max-width: 840px;

}

nav {
    background-color: #777676;
    padding: 5px;
}

nav a {
    color: white;
    display: block;
    padding: 3px;
}

h1 {
    color: #333;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

/*my line of code*/
li a {
    color: black;
}

/*another one */

h2 {
    color: black;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0 0 30px rgb(182, 181, 181);
    float: right;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}